doctype html
html
  head
    title Document
    link(rel='stylesheet', href='/stylesheets/404page.css')
  body(theme="dark")
    .error-code404
      .info
        h1 이런...
        h2.text-art (〃⌒▽⌒〃)ゝ
      .message1
        h2
          span 원하는 페이지를 찾지 못하였어요
      .message2 
        h3
          span 대신 이런건 어떠세요...?
      .back
        button ꉂꉂ(ᵔᗜᵔ*) 못 본척 뒤로가기
      .main
        button ｡^‿^｡ 메인 페이지로 가기
      p jh_webStorage | 2021 | dev.parkjh


