doctype html
html
  head
    title 404 Error
    link(rel='stylesheet', href='/css/404page.css')
  body(theme="light")
    .error-code404.no-drag
      .main
        .info
          h1 이런...
          h2.text-art (〃⌒▽⌒〃)ゝ
        .message1
          h2
            span 원하는 페이지를 찾지 못했어요
              //- | (404 Error)
        .message2 
          h3
            span 대신 이런건 어떠세요...?
        .back
          button(onClick="history.back();")
            span 못 본척 뒤로가기
        .home
          button(onClick="location.href='/';")
            span 메인 페이지로 가기
      p.site-info jh_webStorage | 2021 | dev.parkjh
    script. 
      const themeSetting = () => {
          const defaultTheme = 'light';
          const theme = localStorage.getItem('theme') || defaultTheme;
          document.body.setAttribute('theme', theme);
      }
      themeSetting();
