doctype html
html
  head
    title ie... 멈춰...!
    link(rel='stylesheet', href='/css/ieGuide.css')
  body
    .ie-guide.no-drag
      h1 This page can't be displayed
      h2 인터넷 익스플로러에서는 사용이 불가능합니다.
      .text-art
        .stop
          | ┌────────┐
          br
          |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;넌 못 지나간다
          br
          | └────────┘
          br
          |　　ᕱ ᕱ ||
          br
          |　 ( ･ω･ ||
          br
          |　 /　つΦ
          br
        img.ie(src="/img/ieIcon.png")
        .sad ㅠ,ㅠ
        .really really...?
        .yes yes...!
    p.site-info jh_webStorage | 2021 | dev.parkjh


