doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/materialIcons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/scrollbar.css')
    script(src="/javascripts/external/axios.min.js")
    script(src="/javascripts/external/vue.min.js")
  body
    #app.no-drag
      header
        .logo 
        .search 
        .setting 
        .login
      main
        aside
        section
          //- div {{ mainDirInfo }}
      footer 
    script(src="/javascripts/common/common.js")
    script(src="/javascripts/views/vIndex.js")