doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/materialIcons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/scrollbar.css')
    script(src="/javascripts/external/axios.min.js")
    script(src="/javascripts/external/vue.min.js")
  body(theme="light")
    #app.no-drag
      header
        .logo(@dblclick="easterEgg();")
          .site-name jh_fileServer
        .search 
          .search-bar
            .icon-box32
              i.material-icons.md-32 search
            input(type="text" placeholder="Search...")
            span.slider
        .menu
          .user 
            button 
              span Login
          .icon-box32.rotate120
            i.material-icons.md-32 settings
      .main
        aside
          ul
            li.active
              i.material-icons folder 
              span My Storage
            li
              i.material-icons share 
              span Public
            li
              i.material-icons delete  
              span Trash 
        section
          article.content
            .content-header
              nav
              .content-header-icon.material-icons.md-56 folder_open
              .content-header-info
                .dir-name {{ mainDirInfo.name }}
                .dir-info
                  span {{ mainDirInfo.child.length }} items · {{ getEasyFileSize(mainDirInfo.size) }}
            .content-body
              .file-header
                table
                  thead 
                    tr
                      th.chkbox
                        input(type="checkbox" name="all-file-chk")
                      th.icon
                      th.name
                        span.text(@click="sortFileListByTarget('name');")
                          span Name
                          i.material-icons.md-14(v-show="sortInfo.target == 'name'")
                            | {{ sortInfo.direction == 'asc' ? 'expand_more' : 'expand_less' }}
                      th.mtime
                        span.text(@click="sortFileListByTarget('mtime');")
                          span Date
                          i.material-icons.md-14(v-show="sortInfo.target == 'mtime'")
                            | {{ sortInfo.direction == 'asc' ? 'expand_more' : 'expand_less' }}
                      th.ext-type
                        span.text(@click="sortFileListByTarget('ext');")
                          span Type
                          i.material-icons.md-14(v-show="sortInfo.target == 'ext'")
                            | {{ sortInfo.direction == 'asc' ? 'expand_more' : 'expand_less' }}
                      th.size
                        span.text(@click="sortFileListByTarget('size');")
                          span Size
                          i.material-icons.md-14(v-show="sortInfo.target == 'size'")
                            | {{ sortInfo.direction == 'asc' ? 'expand_more' : 'expand_less' }}
              .file-list.scrollbar
                table
                  tbody 
                    template(v-if="mainDirInfo.child.length != 0")
                      tr(v-for="file in mainDirInfo.child" :key="file.name" :class="{'is-directory' : file.isDirectory}")
                        td.chkbox
                          input(type="checkbox" name="file-chk" :value="file.name")
                        td.icon
                          i.material-icons {{ file.extDetail.icon }}
                        td.name {{ file.name }}
                        td.mtime {{ file.mtime.substr(0, file.mtime.indexOf('T')) }}
                        td.ext-type {{ file.extDetail.cmt }}
                        td.size {{ getEasyFileSize(file.size) }}
                    template(v-if="mainDirInfo.child.length == 0")
                      tr
                        td.empty-file(colspan="6") 파일이 없습니다
            //- div {{ mainDirInfo }}
      footer 
    script(src="/javascripts/common/common.js")
    script(src="/javascripts/views/vIndex.js")