doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/materialIcons.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/scrollbar.css')
    script(src="/js/external/axios.min.js")
    script(src="/js/external/vue.min.js")
  body(theme="dark")
    #app.no-drag
      aside
        .logo
          .icon-box32.material-icons widgets
          .site-name jh_fileServer
        button.upload-and-new
          i.material-icons create_new_folder
          span Upload / New
        nav
      main
        header 
        section.explorer
          article.explorer-header
            .breadcrumb
            .dir-info
              .name {{ dirInfo.name }}
              .sub-info {{ dirInfo.child.length }} items 
                | · {{ getEasyFileSize(dirInfo.size) }}
          article.explorer-view
            .table
              .table-header
                .icon 
                .name Name
                .date Date 
                .type Type 
                .size Size
              .table-body.scrollbar
                template(v-if="dirInfo.child.length != 0")
                  .row(v-for="file in dirInfo.child" :key="file.name")
                    .icon
                      i.material-icons {{ file.extDetail.icon }}
                    .name 
                      a(:href="location.pathname + '/' + file.name" target="_blank" @click="linkClick($event, file);") {{ file.name }}
                    .date {{ file.mtime.substr(0, file.mtime.indexOf('T')) }}
                    .type {{ file.extDetail.cmt }}
                    .size {{ getEasyFileSize(file.size) }}
                template(v-if="dirInfo.child.length == 0")
                  .row
                    .empty-file 파일이 없습니다
      
    script(src="/js/common/common.js")
    script(src="/js/views/vIndex.js")
