doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/materialIcons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/external/axios.min.js")
    script(src="/javascripts/external/vue.min.js")
  body
    #app 
      header 
        nav
      div(class="main")
        aside
          ul
            li 공유폴더
            li 내 폴더
            li 휴지통
        section
          article(class="content")
            div(class="content-header no-drag")
              div(class="content-header-icon material-icons md-56") folder_open
              div(class="content-header-info")
                div(class="dir-name") {{ mainDirInfo.name }}
                div(class="dir-info")
                  span {{ mainDirInfo.child.length }} items
                  span Total space used on {{ getEasyFileSize(mainDirInfo.size) }}
            div(class="content-body")
              table
                thead 
                  tr(class="no-drag")
                    th(class="th-chkbox")
                    th(class="th-icon") 
                    th(class="th-name")
                      span(@click="sortFileListByTarget('name');" class="th-text")
                        span Name
                        i(v-show="sortInfo.target == 'name'" class="material-icons md-14")
                          | {{ sortInfo.direction == 'asc' ? 'expand_more' : 'expand_less' }}
                    th(class="th-mtime")
                      span(@click="sortFileListByTarget('mtime');" class="th-text")
                        span Date
                        i(v-show="sortInfo.target == 'mtime'" class="material-icons md-14")
                          | {{ sortInfo.direction == 'asc' ? 'expand_more' : 'expand_less' }}
                    th(class="th-ext-type")
                      span(@click="sortFileListByTarget('ext');" class="th-text")
                        span Type
                        i(v-show="sortInfo.target == 'ext'" class="material-icons md-14")
                          | {{ sortInfo.direction == 'asc' ? 'expand_more' : 'expand_less' }}
                    th(class="th-size")
                      span(@click="sortFileListByTarget('size');" class="th-text")
                        span Size
                        i(v-show="sortInfo.target == 'size'" class="material-icons md-14")
                          | {{ sortInfo.direction == 'asc' ? 'expand_more' : 'expand_less' }}
                tbody 
                  template(v-if="mainDirInfo.child.length != 0")
                    tr(v-for="file in mainDirInfo.child" :key="file.name")
                      td(class="td-chkbox")
                        input(type="checkbox" name="file-chkbox" :value="file.name")
                      td(class="td-icon")
                        i(class="material-icons") {{ getIconFromExt(file.ext) }}
                      td(class="td-name") {{ file.name }}
                      td(class="td-mtime") {{ file.mtime.substr(0, file.mtime.indexOf('T')) }}
                      td(class="td-ext-type") {{ getCmtFromExt(file.ext) }}
                      td(class="td-size") {{ getEasyFileSize(file.size) }}
                  template(v-if="mainDirInfo.child.length == 0")
                    tr
                      td(colspan="6" class="empty-file") 파일이 없습니다
      footer 
    script(src="/javascripts/views/vIndex.js")