doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/materialIcons.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/scrollbar.css')
    script(src="/js/external/axios.min.js")
    script(src="/js/external/vue.min.js")
  body(theme="dark")
    #app.no-drag
      aside
        .logo
          .icon-box32.material-icons search
          .site-name jh_fileServer
        .upload-and-new
        nav
      main
        header 
        section.explorer
          article.explorer-header
            .breadcrumb
          article.explorer-view d
        
      
    script(src="/js/common/common.js")
    script(src="/js/views/vIndex.js")
