button {
    position: relative;
    overflow: hidden;
    outline: 0;
    border: 0;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(160, 160, 160, 0.5);
}

@keyframes ripple {
    to {
        transform: scale(3);
        opacity: 0;
    }
}