@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/NotoSansKR-Light.woff2) format("woff2");
}

@font-face {
  font-family: "BMJUA";
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/BMJUA.woff) format("woff");
}

:root {
  --aside-witdh: 260px;
  --header-height: 64px;
  /* --dir-info-height: 78px;
  --breadcrumbs-height: 0px;
  --file-table-header-height: 36px;
  --file-table-body-height: calc(100vh - var(--header-height) - var(--breadcrumbs-height) - var(--dir-info-height) - var(--file-table-header-height) - 2px); */
  --main-color: #333333;
  --main-hover-color: #eeeeee;
  --main-sub-color: #222222;
  --main-background-color: #ffffff;
  --item-background-color: #f2f2f2;
  --border-color: #cccccc;
  --theme-point-color: #7197ff;
}

body[theme="dark"] {
  --main-color: #cccccc;
  --main-hover-color: #333333;
  --main-sub-color: #aaaaaa;
  --main-background-color: #222222;
  --item-background-color: #444444;
  --border-color: #777777;
  --theme-point-color: #e4b255;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: "Noto Sans KR", sans-serif;
}

div {
  margin: 0px;
  padding: 0px;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

header {
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  width: 100vw;
  display: flex;
}

.logo {
  width: var(--aside-witdh);
  min-width: var(--aside-witdh);
  height: var(--header-height);
  line-height: var(--header-height);
  display: flex;
}

.logo>i {
  line-height: 64px;
  margin-left: 14px;
  margin-right: -10px;
  opacity: 0.6;
}

.logo>.site-name {
  margin-left: 20px;
  display: inline;
  background-clip: text;
  background-image: url(/img/svg/logo.svg);
  font-family: 'BMJUA', sans-serif;
  font-size: 28px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  flex: 1;
}

.search>.bar {
  max-width: 720px;
  height: 48px;
  background: var(--item-background-color);
  border-radius: 8px;
  display: flex;
  margin: 8px 4px;
  transition: box-shadow 200ms;
}

.search>.bar.active {
  box-shadow: 0 1px 3px 0 rgb(60 60 60 / 30%);
}

.search>.bar>i {
  opacity: 0.7;
  line-height: 48px;
  margin-left: 16px;
  margin-right: 10px;
}

.search>.bar>input {
  color: var(--main-color);
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: large;
}

.search>.bar .close {
  cursor: pointer;
}

.setting {
  position: relative;
}

.setting-modalless {
  display: none;
}

.setting-modalless.active {
  display: block;
  width: 180px;
  height: 86px;
  position: absolute;
  left: -185px;
  top: 14px;
  background-color: var(--item-background-color);
  border-radius: 10px;
  opacity: 1;
  animation: fadein 0.4s;
}

.setting-modalless:after {
  border-top: 10px solid transparent;
  border-left: 12px solid var(--item-background-color);
  border-right: 0px solid transparent;
  border-bottom: 10px solid transparent;
  content: "";
  position: absolute;
  top: 8px;
  left: 175px;
}

.setting-modalless>div {
  margin-top: 10px;
  margin-left: 14px;
  font-family: 'BMJUA', sans-serif;
  font-size: large;
}

.setting-modalless>.close {
  margin: 0px;
  position: absolute;
  top: 4px;
  right: 12px;
  font-family: 'Noto-Snans', sans-serif;
  cursor: pointer;
  font-size: large;
}

.setting-modalless>.theme {
  display: block;
  margin-top: 12px;
}



main {
  flex: 1;
}

aside {
  width: var(--aside-witdh);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upload-and-new {
  margin: 20px 18px 20px 14px;
  height: 48px;
  line-height: 46px;
  font-size: 18px;
  border-radius: 8px;
  background-color: var(--item-background-color);
  color: var(--main-sub-color);
  text-align: left;
  cursor: pointer;
}

.upload-and-new>.material-icons {
  line-height: 46px;
  margin-left: 8px;
  margin-right: 14px;
}

.upload-and-new>span {
  vertical-align: top;
}

.upload-and-new>input {
  width: 0px;
  height: 0px;
}

/* 아이콘 관련 영역 */
.icon-box24 {
  display: inline-block;
  margin-left: 18px;
  border-radius: 26px;
  width: 30px;
  height: 30px;
  background-color: var(--border-color);
  text-align: center;
}

.icon-box24:hover {
  cursor: pointer;
}

.icon-box24>i {
  line-height: 31px;
}

.icon-box24.active {
  color: var(--theme-point-color);
}

.icon-box32 {
  font-size: 32px;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 56px;
  display: inline-block;
}

.icon-box32:hover {
  background-color: var(--main-hover-color);
  cursor: pointer;
}

.icon-box32.active {
  background-color: var(--main-hover-color);
}

header .icon-box32 {
  margin: 6px;
}