@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/NotoSansKR-Light.woff2) format("woff2");
}

@font-face {
  font-family: "BMJUA";
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/BMJUA.woff) format("woff");
}

:root {
  --aside-witdh: 300px;
  --header-height: 65px;
  --main-color: #333333;
  --main-background-color: #ffffff;
}

body[theme="dark"] {
  --main-color: #cccccc;
  --main-background-color: #222222;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: "Noto Sans KR", sans-serif;
}

div {
  margin: 0px;
  padding: 0px;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#app {
  display: flex;
}

aside {
  width: var(--aside-witdh);
  height: 100vh;
  display: flex;

  background-color: aqua;
}

.logo {
  width: var(--side-width);
  min-width: var(--side-width);
  line-height: var(--header-height);
}

main {
  flex: 1;
}

header {
  height: var(--header-height);

  background-color: rebeccapurple;
}