@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/NotoSansKR-Light.woff2) format("woff2");
}

@font-face {
  font-family: "BMJUA";
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/BMJUA.woff) format("woff");
}

:root {
  --aside-witdh: 260px;
  --header-height: 64px;
  --explorer-header-height: 88px;
  --file-table-header-height: 42px;
  --file-table-body-height: calc(100vh - var(--header-height) - var(--explorer-header-height) - var(--file-table-header-height));
  --main-color: #333333;
  --main-hover-color: #eeeeee;
  --main-sub-color: #444444;
  --main-background-color: #ffffff;
  --item-background-color: #f2f2f2;
  --border-color: #cccccc;
  --theme-point-color: #7197ff;
}

body[theme="dark"] {
  --main-color: #cccccc;
  --main-hover-color: #333333;
  --main-sub-color: #aaaaaa;
  --main-background-color: #222222;
  --item-background-color: #444444;
  --border-color: #777777;
  --theme-point-color: #e4b255;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: "Noto Sans KR", sans-serif;
}

div,
button {
  margin: 0px;
  padding: 0px;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

/* 아이콘 */

a.material-icons.md-32 {
  position: relative;
  margin: 10px;
}

a.material-icons.md-32:hover {
  cursor: pointer;
}

a.material-icons.md-32::before {
  display: block;
  width: 50px;
  height: 50px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  z-index: -1;
}

a.material-icons.md-32:hover::before {
  background-color: var(--main-hover-color);
}

/* 헤더 */

header {
  height: var(--header-height);
  min-height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  /* width: 100vw; */
  display: flex;
  align-items: center;
}

.logo {
  width: var(--aside-witdh);
  min-width: var(--aside-witdh);
  display: flex;
}

.logo>.site-name {
  margin-left: 20px;
  display: inline;
  background-clip: text;
  background-image: url(/img/svg/logo.svg);
  font-family: 'BMJUA', sans-serif;
  font-size: 26px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  flex: 1;
}

.search>.bar {
  max-width: 720px;
  height: 48px;
  background-color: var(--item-background-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  /* margin: 8px 4px; */
  transition: box-shadow 200ms;
}

.search>.bar.active {
  box-shadow: 0 1px 3px 0 rgb(60 60 60 / 30%);
}

.search>.bar>i {
  opacity: 0.7;
  margin-left: 16px;
  margin-right: 10px;
}

.search>.bar>input {
  color: var(--main-color);
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: large;
}

.search>.bar .close {
  cursor: pointer;
}

a.settings.material-icons.md-32 {
  margin: 0px 16px;
}

/* 메인 */

main {
  flex: 1;
  display: flex;
}

/* 좌측 메뉴 */

aside {
  width: var(--aside-witdh);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upload-and-new {
  margin: 20px 18px 20px 14px;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 8px;
  background-color: var(--item-background-color);
  color: var(--main-sub-color);
  text-align: left;
  cursor: pointer;
}

.upload-and-new>.material-icons {
  margin-left: 16px;
  margin-right: 12px;
}

.upload-and-new>input {
  width: 0px;
  height: 0px;
}

/* 탐색기 */

.explorer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.explorer-header {
  height: var(--explorer-header-height);
  display: flex;
  align-items: center;
}

.explorer-header>.target {
  margin-left: 6px;
}

.target-info>.name {
  font-size: x-large;
}

.target-info>.sub-info {
  font-size: small;
  margin-left: 4px;
}

.explorer-view>.table {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.explorer-view>.table a,
.explorer-view>.table a:link,
.explorer-view>.table a:visited {
  text-decoration: none;
  color: var(--main-color);
}

.table-header {
  padding-left: 12px;
  margin-left: 16px;
  margin-right: 16px;
  height: var(--file-table-header-height);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: #cccccc solid 1px;
}

.table-body {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  height: var(--file-table-body-height);
}

.table-body>.row {
  display: flex;
  align-items: center;
  height: 52px;
  min-height: 52px;
  border-radius: 10px;
  padding-left: 12px;
  /* border-bottom: #cccccc solid 1px; */
  transition: background-color 100ms;
}

.table-body>.row.active {
  background-color: var(--main-hover-color);
}

.table-body>.row:hover {
  /* background-color: var(--main-hover-color); */
  cursor: pointer;
}

.table .icon {
  width: 46px;
  text-align: center;
}

.table .icon>i {
  line-height: 52px;
}

.table .name {
  flex: 1;
  padding-left: 6px;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 100%;
}

.table .name>a {
  display: block;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
}

.table .date,
.table .type {
  width: 130px;
}

.table .size {
  width: 90px;
}

.table .empty-file {
  height: 70px;
  line-height: 70px;
  flex: 1;
  text-align: center;
}