@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/NotoSansKR-Light.woff2) format("woff2");
}

@font-face {
  font-family: "BMJUA";
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/BMJUA.woff) format("woff");
}

:root {
  --aside-witdh: 300px;
  --header-height: 65px;
  --main-color: #333333;
  --main-background-color: #ffffff;
  --aside-background-color: #eeeeee;
  --button-background-color: #aaaaaa;
}

body[theme="dark"] {
  --main-color: #cccccc;
  --main-background-color: #222222;
  --aside-background-color: #333333;
  --button-background-color: #444444;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: "Noto Sans KR", sans-serif;
}

div {
  margin: 0px;
  padding: 0px;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#app {
  display: flex;
}

aside {
  width: var(--aside-witdh);
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--aside-background-color);
}

.logo {
  width: var(--side-width);
  min-width: var(--side-width);
  height: 72px;
  line-height: 72px;
  display: flex;
}

.logo>.icon-box32 {
  margin: 12px 2px 0px 14px;
  opacity: 0.6;
}

.logo>.site-name {
  display: inline;
  background-clip: text;
  background-image: url(/img/svg/logo.svg);
  font-family: 'BMJUA', sans-serif;
  font-size: 28px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.upload-and-new {
  margin: 20px;
  height: 50px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 8px;
  background-color: var(--button-background-color);
  border-color: transparent;
  color: var(--main-color);
  text-align: left;
  cursor: pointer;
}

.upload-and-new:active {
  opacity: 0.7;
  transform: translateY(1px);
}

.upload-and-new:focus {
  outline: 0;
}


.upload-and-new>.material-icons {
  line-height: 40px;
  margin-left: 6px;
  margin-right: 14px;
}

.upload-and-new>span {
  vertical-align: top;
  /* width: 178px;
  display: inline-block;
  text-align: center; */
}

main {
  flex: 1;
}

header {
  height: var(--header-height);

  background-color: rebeccapurple;
}