@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/NotoSansKR-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'BMJUA';
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/BMJUA.woff) format('woff');
}

:root {
  --main-color: #323232;
  --main-background-color: #fcfcfc;
  --main-hover-color: #eeeeee;
  --main-active-color: #e0e0e0;
}

body[theme="dark"] {
  --main-color: #cccccc;
  --main-background-color: #1e1e1e;
  --main-hover-color: #2d2d2d;
  --main-active-color: #373737;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: 'Noto Sans KR', sans-serif;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.error-code404 {
  font-family: 'BMJUA', sans-serif;
  height: 100%;
  min-width: 500px;
}

.error-code404>div {
  display: inline-block;
}

.main {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text-art {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
}

h1 {
  font-size: 60px;
  font-weight: normal;
  display: inline-block;
  margin: 0px;
}

h2 {
  font-weight: normal;
  margin: 3px;
}

h3 {
  font-weight: normal;
  margin: 0px;
}

.message2 {
  margin-top: 50px;
  margin-left: 6px;
}

.back, .home {
  display: inline-block;
}

button {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 6px;
  border: none;
  border-radius: 12px;
  background-color: var(--main-hover-color);
  cursor: pointer;
  width: 220px;
  height: 40px;
  color: var(--main-color);
  font-size: 16px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: var(--main-active-color);
}

button>span {
  position: relative;
  transition: 0.6s;
  vertical-align: top;
  line-height: 26px;
}

button>span::before {
  position: absolute;
  left: -40px;
  transition: 0.6s;
  opacity: 0;
  font-size: large;
  line-height: 24px;
}

.back>button>span::before {
  content: 'ꉂꉂ(ᵔᗜᵔ*)';
}

.home>button>span::before {
  content: '｡^‿^｡';
}

.back>button:hover>span {
  padding-left: 72px;
}

.home>button:hover>span {
  padding-left: 52px;
}

.back>button:hover>span::before {
  left: -3px;
  opacity: 1;
}

.home>button:hover>span::before {
  left: -4px;
  opacity: 1;
}

.site-info {
  bottom: 0px;
  right: 16px;
  position: fixed;
  color: #888888;
}