body[theme="light"] {
    --scrollber-background-color: white;
}

body[theme="dark"] {
    --scrollber-background-color: #1e1e1e;
}

.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 16px;
}

/* 스크롤바 비어있는 공간 */

.scrollbar::-webkit-scrollbar-track {
    background-color: var(--scrollber-background-color);
}

.scrollbar::-webkit-scrollbar-track:hover {
    background-color: var(--scrollber-background-color);
    ;
}

/* 스크롤 바 */

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 16px;
    border: 6px solid var(--scrollber-background-color);
    ;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
    border: 5px solid var(--scrollber-background-color);
}

/* 버튼 숨김 */

.scrollbar::-webkit-scrollbar-button {
    display: none;
}