@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/NotoSansKR-Light.woff2) format('woff2');
}

/* body[theme="light"] {
  --main-color: #000;
  --sidebar-color: #323232;
  --sidebar-background-color: #f5f5f5;
  --sidebar-li-color: #fff;
  --sidebar-li-hover-color: #eaeaea;
  --sidebar-li-active-color: #e0e0e0;
  --background-color: #fcfcfc;
  --box-color: lightgrey;
  --title-bar-background-color: white;
  --title-border-color: rgba(0, 0, 0, 0.3);
}

body[theme="dark"] {
  --main-color: #cccccc;
  --sidebar-color: #cccccc;
  --sidebar-background-color: #252525dc;
  --sidebar-li-color: #fff;
  --sidebar-li-hover-color: #2d2d2d;
  --sidebar-li-active-color: #373737;
  --background-color: #1e1e1e;
  --box-color: grey;
  --title-bar-background-color: #323232;
  --title-border-color: rgba(0, 0, 0, 0.6);
} */

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

div {
  margin: 0px;
  padding: 0px;
}

a {
  color: #00B7FF;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#app {
  height: 100%;
}

header {
  width: auto;
  height: 48px;
  padding: 8px;
  border-bottom: #cccccc solid 1px;
}

.main {
  min-width: 820px;
  height: 100%;
}

aside {
  width: 256px;
  height: 100%;
  float: left;
  border-right: #cccccc solid 1px;
}

section {
  width: calc(100% - 257px);
  /* aside width(+ border 1px) */
  min-width: 560px;
  height: 100%;
  float: left;
}

.content {
  height: 100%;
}

.content-header {
  height: 60px;
  padding-top: 20px;
  padding-bottom: 6px;
  padding-left: 24px;
}

.content-header>div {
  float: left;
}

.content-header-icon {
  margin-top: 3px;
  margin-left: 8px;
}

.dir-name {
  margin-left: 16px;
  font-size: x-large;
}

.dir-info>span {
  margin-left: 22px;
  font-size: small;
}

.content-body {
  width: auto;
  height: calc(100% - 152px);
  padding-left: 16px;
  padding-right: 18px;
  overflow: auto;
}

.content-body>table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
}

.content-body>table>thead>tr>th {
  height: 40px;
  background-color: #ffffff;
  top: 0;
  position: sticky;
  border-bottom: #cccccc solid 1px;
}

.th-text {
  cursor: pointer;
}

.th-text>span {
  margin-top: 3px;
  vertical-align: top;
  display: inline-block;
}

.th-text>i {
  margin-top: 5px;
  margin-left: -2px;
  color: #929292;
}

.th-chkbox, .th-icon {
  width: 42px;
  min-width: 42px;
}

.th-name {
  min-width: 260px;
}

.th-mtime, .th-ext-type {
  width: 130px;
  min-width: 130px;
}

.th-size {
  width: 90px;
  min-width: 90px;
}

.content-body>table>tbody>tr {
  height: 60px;
  border-bottom: #cccccc solid 1px;
  transition-duration: 0.2s;
}

.content-body>table>tbody>tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.empty-file {
  height: 70px;
  text-align: center;
}

.td-chkbox, .td-icon {
  text-align: center;
}

.td-icon>i {
  padding-top: 4px;
  padding-right: 6px;
}