@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/NotoSansKR-Light.woff2) format('woff2');
}

:root {
  --header-height: 65px;
  --aside-width: 256px;
  --content-header-height: 86px;
  --file-header-height: 36px;
  --file-list-height: 52px;
}

/* body[theme="light"] {
  --main-color: #000000;
  --sidebar-color: #323232;
  --sidebar-background-color: #f5f5f5;
  --sidebar-li-color: #fff;
  --sidebar-li-hover-color: #eaeaea;
  --sidebar-li-active-color: #e0e0e0;
  --background-color: #fcfcfc;
  --box-color: lightgrey;
  --title-bar-background-color: white;
  --title-border-color: rgba(0, 0, 0, 0.3);
}

body[theme="dark"] {
  --main-color: #cccccc;
  --sidebar-color: #cccccc;
  --sidebar-background-color: #252525dc;
  --sidebar-li-color: #fff;
  --sidebar-li-hover-color: #2d2d2d;
  --sidebar-li-active-color: #373737;
  --background-color: #1e1e1e;
  --box-color: grey;
  --title-bar-background-color: #323232;
  --title-border-color: rgba(0, 0, 0, 0.6);
} */

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #111111;
}

div {
  margin: 0px;
  padding: 0px;
}

a {
  color: #00B7FF;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#app {
  height: 100%;
}

header {
  width: auto;
  height: var(--header-height);
  border-bottom: #cccccc solid 1px;
}

.main {
  min-width: 820px;
  height: 100%;
}

aside {
  width: var(--aside-width);
  height: 100%;
  float: left;
  border-right: #cccccc solid 1px;
}

section {
  /* aside width(+ border 1px) */
  width: calc(100% - (var(--aside-width) + 1px));
  min-width: 560px;
  height: 100%;
  float: left;
}

.content {
  height: 100%;
}

.content-header {
  height: var(--content-header-height);
}

.content-header>div {
  float: left;
}

.content-header-icon {
  margin-top: 18px;
  margin-left: 32px;
}

.content-header-info {
  margin-top: 14px;
}

.content-header-info>.dir-info {
  margin-top: -4px;
}

.dir-name {
  margin-left: 16px;
  font-size: x-large;
}

.dir-info>span {
  margin-left: 22px;
  font-size: small;
}

.content-body {
  /* header height(+ border 1px) */
  height: calc(100% - (var(--header-height) + 1px + var(--content-header-height)));
}

.file-header {
  height: var(--file-header-height);
  padding-left: 16px;
  padding-right: 18px;
}

.file-header>table, .file-list>table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.file-header>table {
  text-align: left;
}

.file-header>table>thead>tr>th {
  /* height: var(--file-header-height); */
  height: calc(var(--file-header-height) - 2px);
  border-bottom: #cccccc solid 1px;
}

.chkbox, .icon {
  width: 42px;
  min-width: 42px;
  text-align: center;
}

.icon>i {
  padding-top: 4px;
  padding-right: 6px;
}

.name {
  min-width: 260px;
}

.mtime, .ext-type {
  width: 130px;
  min-width: 130px;
}

.size {
  width: 90px;
  min-width: 90px;
}

.file-list {
  /* file-header height(+ border 1px) */
  height: calc(100% - (var(--file-header-height) + 1px));
  padding-left: 16px;
  padding-right: 2px;
}

.file-list>table>tbody>tr {
  height: var(--file-list-height);
  border-bottom: #cccccc solid 1px;
  transition-duration: 0.2s;
}

.file-list>table>tbody>tr:hover {
  background-color: #a7c0ef;
  cursor: pointer;
}

.empty-file {
  height: 70px;
  text-align: center;
}

.is-directory {
  background-color: #f5f5f5;
}

.rounded {
  border-radius:0.5em;
}