@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/NotoSansKR-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'BMJUA';
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/BMJUA.woff) format('woff');
}

:root {
  --header-height: 65px;
  --aside-width: 256px;
  --content-header-height: 86px;
  --file-header-height: 36px;
  --file-list-height: 52px;
  --menu-width: 356px;
  --section-min-width: 740px;
  --main-color: #323232;
  --main-background-color: #fcfcfc;
  --border-color: #cccccc;
  --sidebar-background-color: #f5f5f5;
  --main-hover-color: #eeeeee;
  --main-active-color: #e0e0e0;
  --focus-border-color: #64c9f1;
  --search-placeholder-color: #bbbbbb;
}

body[theme="dark"] {
  --main-color: #cccccc;
  --main-background-color: #1e1e1e;
  --border-color: #727272;
  --sidebar-background-color: #252525dc;
  --main-hover-color: #2d2d2d;
  --main-active-color: #373737;
  --focus-border-color: #b57740;
  --search-placeholder-color: #6c6c6c;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: 'Noto Sans KR', sans-serif;
}

div {
  margin: 0px;
  padding: 0px;
}

a {
  color: #00B7FF;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#app {
  min-width: calc(var(--aside-width) + var(--section-min-width));
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.background.snow {
  background-image: url(/image/svg/snow.svg);
  background-size: 800px 1200px;
  animation: fade-in 1.5s linear;
}

.background.snow.fade-out {
  animation: fade-out 1.5s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

header, aside {
  box-sizing: border-box;
}

header {
  border-bottom: var(--border-color) solid 1px;
  width: auto;
  height: var(--header-height);
}

header>div {
  display: inline-block;
}

.logo {
  width: var(--aside-width);
  vertical-align: top;
}

.logo>.site-name {
  margin-top: 16px;
  margin-left: 12px;
  background-clip: text;
  background-image: url(/image/svg/logo.svg);
  width: var(--aside-width);
  font-family: 'BMJUA', sans-serif;
  font-size: 28px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  width: calc(100% - (var(--aside-width) + var(--menu-width)));
}

.search-bar {
  margin-top: 7px;
  width: auto;
  height: 50px;
}

.icon-box32 {
  display: inline-block;
  transition-duration: 0.3s;
  margin-left: 14px;
  border-radius: 26px;
  width: 50px;
  height: 50px;
}

.icon-box32:hover {
  background-color: var(--main-hover-color);
  cursor: pointer;
}

.icon-box32>i {
  margin: 9px;
}

.icon-box32.rotate120 {
  transition: all ease 0.6s;
}

.icon-box32.rotate120:hover {
  transform: rotate(120deg);
}

.search-bar>input {
  margin-top: 6px;
  margin-left: 6px;
  border: none;
  background: transparent;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  width: calc(100% - 120px);
  max-width: 380px;
  height: 32px;
  vertical-align: top;
  color: var(--main-color);
  font-size: large;
}

.search-bar>input:focus {
  outline: none;
  border-bottom: var(--focus-border-color) solid 2px;
}

.search-bar>input::placeholder {
  position: relative;
  top: 1px;
  color: var(--search-placeholder-color);
}

.menu {
  float: right;
  margin-top: 7px;
  width: var(--menu-width);
}

.menu>div {
  float: right;
}

.menu>.user>button {
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 12px;
  background-color: var(--main-hover-color);
  cursor: pointer;
  width: 90px;
  height: 40px;
  color: var(--main-color);
  font-size: 16px;
}

.menu>.user>button:focus {
  outline: none;
}

.menu>.user>button:hover {
  background-color: var(--main-active-color);
}

.menu>.user>button>span {
  position: relative;
  transition: 0.4s;
}

.menu>.user>button>span:after {
  position: absolute;
  right: -10px;
  transition: 0.4s;
  opacity: 0;
  margin-top: -3px;
  font-size: large;
  content: '\00bb';
}

.menu>.user>button:hover>span {
  padding-right: 16px;
}

.menu>.user>button:hover>span:after {
  right: 0;
  opacity: 1;
}

.main {
  min-width: 820px;
  height: 100%;
}

aside {
  float: left;
  width: var(--aside-width);
  height: 100%;
}

aside>ul {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}

aside>ul>li {
  display: block;
  transition-duration: 0.1s;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 10px;
  width: calc(var(--aside-width) - 12px);
  height: 40px;
}

aside>ul>li:hover {
  background-color: var(--main-hover-color);
  cursor: pointer;
}

aside>ul>li.active {
  background-color: var(--main-active-color);
}

aside>ul>li>i {
  margin-top: 2px;
  margin-left: 18px;
}

aside>ul>li>span {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  line-height: 27px;
  font-size: large;
}

section {
  float: left;
  width: calc(100% - var(--aside-width));
  min-width: var(--section-min-width);
  height: 100%;
}

.content {
  height: 100%;
}

.content-header {
  height: var(--content-header-height);
}

.content-header>div {
  float: left;
}

.content-header-icon {
  margin-top: 18px;
  margin-left: 32px;
}

.content-header-info {
  margin-top: 14px;
}

.content-header-info>.dir-info {
  margin-top: -4px;
}

.dir-name {
  margin-left: 16px;
  font-size: x-large;
}

.dir-info>span {
  margin-left: 22px;
  font-size: small;
}

.content-body {
  height: calc(100% - (var(--header-height) + var(--content-header-height)));
}

.file-header {
  padding-right: 18px;
  padding-left: 16px;
  height: var(--file-header-height);
}

.file-header>table, .file-list>table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.file-header>table {
  text-align: left;
}

.file-header>table>thead>tr>th {
  border-bottom: #cccccc solid 1px;
  height: calc(var(--file-header-height) - 2px);
}

th>span.text {
  cursor: pointer;
}

td.chkbox {
  border: solid 0px;
  border-top-left-radius: calc(var(--file-header-height) / 3);
  border-bottom-left-radius: calc(var(--file-header-height) / 3);
}

.chkbox, .icon {
  width: 42px;
  min-width: 42px;
  text-align: center;
}

.icon>i {
  padding-top: 4px;
  padding-right: 6px;
}

.name {
  min-width: 260px;
}

.mtime, .ext-type {
  width: 130px;
  min-width: 130px;
}

.size {
  width: 90px;
  min-width: 90px;
}

td.size {
  border: solid 0px;
  border-top-right-radius: calc(var(--file-header-height) / 3);
  border-bottom-right-radius: calc(var(--file-header-height) / 3);
}

.file-list {
  margin-top: 1px;
  padding-right: 2px;
  padding-left: 16px;
  height: calc(100% - var(--file-header-height));
}

.file-list>table>tbody>tr {
  transition-duration: 0.1s;
  height: var(--file-list-height);
}

.file-list>table>tbody>tr:hover {
  background-color: var(--main-hover-color);
  cursor: pointer;
}

.empty-file {
  height: 70px;
  text-align: center;
}