@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/NotoSansKR-Light.woff2) format("woff2");
}

@font-face {
  font-family: "BMJUA";
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/BMJUA.woff) format("woff");
}

:root {
  --header-height: 65px;
  --side-width: 256px;
  --nav-height: 0px;
  --dir-info-height: 78px;
  --file-list-header-height: 36px;
  --file-list-body-height: calc(100vh - var(--header-height) - var(--nav-height) - var(--dir-info-height) - var(--file-list-header-height) - 2px);
  --main-color: #323232;
  --main-background-color: #fcfcfc;
  --border-color: #cccccc;
  --sidebar-background-color: #f5f5f5;
  --main-hover-color: #eeeeee;
  --main-active-color: #e0e0e0;
  --focus-border-color: #64c9f1;
  --search-placeholder-color: #bbbbbb;
}

body[theme="dark"] {
  --main-color: #cccccc;
  --main-background-color: #1e1e1e;
  --border-color: #727272;
  --sidebar-background-color: #252525dc;
  --main-hover-color: #2d2d2d;
  --main-active-color: #373737;
  --focus-border-color: #ff7043;
  --search-placeholder-color: #6c6c6c;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100%;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: "Noto Sans KR", sans-serif;
}

div {
  margin: 0px;
  padding: 0px;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#app {
  min-width: 800px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  height: var(--header-height);
  border-bottom: var(--border-color) solid 1px;
  display: flex;
}

.logo {
  width: var(--side-width);
  min-width: var(--side-width);
  line-height: var(--header-height);
}

.logo>.site-name {
  margin-left: 18px;
  background-clip: text;
  background-image: url(/images/svg/logo.svg);
  width: var(--aside-width);
  font-family: 'BMJUA', sans-serif;
  font-size: 28px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  flex: 1;
  min-width: 624px;
  display: flex;
}

.search>.icon {
  width: 66px;
  min-width: 66px;
  text-align: center;
  margin-left: 10px;
}

.search>.icon>.icon-box32 {
  margin: 8px;
}

.search>.bar {
  flex: 1;
  line-height: 60px;
}

.input-search {
  border: none;
  background: transparent;
  padding: 2px;
  width: 380px;
  max-width: 380px;
  height: 32px;
  color: var(--main-color);
  font-size: large;
}

.input-search:focus {
  outline: none;
  border-bottom: var(--focus-border-color) solid 2px;
}

.setting {
  width: 66px;
  min-width: 66px;
  position: relative;
}

.setting>.icon-box32 {
  margin: 8px;
}

.setting-modalless {
  display: none;
}

.setting-modalless.active {
  display: block;
  width: 160px;
  height: 78px;
  position: absolute;
  left: -165px;
  top: 10px;
  background-color: var(--main-active-color);
  border-radius: 10px;
  opacity: 1;
  animation: fadein 0.4s;
}

.setting-modalless:after {
  border-top: 10px solid transparent;
  border-left: 12px solid var(--main-active-color);
  border-right: 0px solid transparent;
  border-bottom: 10px solid transparent;
  content: "";
  position: absolute;
  top: 11px;
  left: 158px;
}

.setting-modalless>div {
  margin-top: 10px;
  margin-left: 14px;
  font-family: 'BMJUA', sans-serif;
}

.setting-modalless>.close {
  margin: 0px;
  position: absolute;
  top: 4px;
  right: 10px;
  font-family: 'Noto-Snans', sans-serif;
  cursor: pointer;
}

.setting-modalless>.theme {
  display: block;
  margin-top: 10px;
}


.login {
  width: 120px;
  min-width: 120px;
  line-height: var(--header-height);
  text-align: center;
}


.login>button {
  border: none;
  border-radius: 12px;
  background-color: var(--main-hover-color);
  cursor: pointer;
  width: 90px;
  height: 40px;
  color: var(--main-color);
  font-size: 16px;
}

.login>button:focus {
  outline: none;
}

.login>button:hover {
  background-color: var(--main-active-color);
}

.login>button>span {
  position: relative;
}

main {
  flex: 1;
  display: flex;
  height: calc(100% - var(--header-height));
}

aside {
  width: var(--side-width);
  min-width: var(--side-width);
}

aside>ul {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}

aside>ul>li {
  display: block;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 10px;
  margin-right: 10px;
  height: 40px;
}

aside>ul>li:hover {
  background-color: var(--main-hover-color);
  cursor: pointer;
}

aside>ul>li.active {
  background-color: var(--main-active-color);
}

aside>ul>li>i {
  margin-top: 2px;
  margin-left: 18px;
}

aside>ul>li>span {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  line-height: 27px;
  font-size: large;
}

section.view {
  flex: 1;
  display: flex;
  flex-direction: column;
}

nav {
  height: var(--nav-height);
}

.dir-info {
  height: var(--dir-info-height);
  display: flex;
}

.dir-info>.icon {
  width: 74px;
  min-width: 74px;
  line-height: 114px;
  text-align: center;
  margin-left: 26px;
}

.dir-info>.dir>.name {
  margin-top: 10px;
  font-size: x-large;
}

.dir-info>.dir>.info {
  margin-left: 4px;
  font-size: small;
}

/* viewType == fileList */

.file-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.file-list-header {
  padding-left: 12px;
  margin-left: 16px;
  margin-right: 16px;
  height: var(--file-list-header-height);
  line-height: var(--file-list-header-height);
  display: flex;
  font-weight: bold;
  border-bottom: #cccccc solid 1px;
}

.file-list-body {
  margin-left: 16px;
  /* padding-right: 2px; */
  display: flex;
  flex-direction: column;
  height: var(--file-list-body-height);
}

.file-list-body>.row {
  display: flex;
  height: 52px;
  min-height: 52px;
  line-height: 52px;
  border-radius: 10px;
  padding-left: 12px;
  /* border-bottom: #cccccc solid 1px; */
}

.file-list-body>.row:hover {
  background-color: var(--main-hover-color);
  cursor: pointer;
}

.file-list .chkbox {
  width: 32px;
  text-align: center;
}

.file-list .icon {
  width: 46px;
  text-align: center;
}

.file-list .icon>i {
  line-height: 52px;
  /* margin-left: 12px; */
}

.file-list .name {
  flex: 1;
  padding-left: 6px;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.file-list .date,
.file-list .type {
  width: 130px;
}

.file-list .size {
  width: 90px;
}

.file-list .empty-file {
  height: 70px;
  line-height: 70px;
  flex: 1;
  text-align: center;
}

.file-info {
  width: 500px;
}

/* 아이콘 관련 영역 */
.icon-box24 {
  display: inline-block;
  margin-left: 14px;
  border-radius: 26px;
  width: 30px;
  height: 30px;
  background-color: var(--main-hover-color);
  text-align: center;
}

.icon-box24:hover {
  cursor: pointer;
}

.icon-box24>i {
  line-height: 30px;
}

.icon-box24.active {
  color: var(--focus-border-color);
}

.icon-box32 {
  border-radius: 26px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 70px;
  display: inline-block;
}

.icon-box32:hover {
  background-color: var(--main-hover-color);
  cursor: pointer;
}

.icon-box32.active {
  background-color: var(--main-hover-color);
}

/* 애니메이션 관련 */

.trans-3s-all {
  transition: 0.3s all ease;
}